<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chimee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506CB1E61BF46E8A00BCBBEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506CB1FA1BF46E8C00BCBBEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506CB2051BF46E8C00BCBBEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
